
#contenidoConsumoEnergyActual {
    display: flex;
    flex-direction: column;
}

#contenidoConsumoEnergyMensual {
    display: none;
    flex-direction: column;
}

#contenidoConsumoAguaActual {
    display: flex;
    flex-direction: column;
}

#contenidoConsumoAguaMensual {
    display: none;
    flex-direction: column;
}

/*Contenido gráficas*/
#graficaSemanalEnergy {
    display: flex;
    flex-direction: column;
}

#graficaMensualEnergy {
    display: none;
    flex-direction: column;
}

#graficaSemanalAgua {
    display: flex;
    flex-direction: column;
}

#graficaMensualAgua {
    display: none;
    flex-direction: column;
}