#contenidoConsumoEnergyActual {
    display: inherit;
}

#contenidoConsumoEnergyMensual {
    display: none;
}

#contenidoConsumoAguaActual {
    display: inherit;
}

#contenidoConsumoAguaMensual {
    display: none;
}

/*Contenido gráficas*/
#graficaSemanalEnergy {
    display: inherit;
}

#graficaMensualEnergy {
    display: none;
}

#graficaSemanalAgua {
    display: inherit;
}

#graficaMensualAgua {
    display: none;
}