* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;

    /* border-radius: 10px; */
    /* border: 12px black solid; */
    /* box-shadow: 0px 0px 15px 5px rgba(83,80,133,1); */
    background-color: #082C36;
}

:root {
    --purple-dark: #170312;
    --purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
    --green: #297F4C;
}


/* ---------------------------------------- */
/*          Contenido cabecera
/* ---------------------------------------- */
.contenidoHeader {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--green);
    color: white;
}

.logo-img-header {
    width: 120px;
    margin-right: 2rem;
}

/* ---------------------------------------- */
/*          Contenido principal
/* ---------------------------------------- */
.contenido-main {
    position: relative;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;

    width: 98%;
    height: 85vh;

    background-color: whitesmoke;
    border-radius: 20px;
    border: 6px black solid;
    box-shadow: 0 0 15px 5px rgba(83, 80, 133, 1);
}

.tituloPrincipalVista {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 0 10px 0;
    margin-bottom: 1rem;

    width: 100%;
    background-color: yellow;
    color: black;
    border-radius: 20px 20px 0 0;
}

#vistaGeneral {
    display: inherit;
}

#vistaMensual {
    display: none;
}

