* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-text: #0B373F;

    --yellow-view: #F5F7A8;
    --blue-view: #A8D1F7;
    --green-view: #BAF6DD;

    --background-content-main: whitesmoke;

    --yellow-chart: #5470c6;
    --blue-chart: #fac858;

    --yellow-content-chart: #F9F9DF;
    --blue-content-chart: #D8E6F3;

    --tam-column: 49%;

    --box-shadow: 0 10px 11px -1px rgba(101,102,140,0.5);
    --border-radius: 10px;
}

.mainBody {
    height: 100vh;
}


/* ---------------------------------------- */
/*          Contenido cabecera
/* ---------------------------------------- */
.contenidoHeader {
    display: flex;
    flex-direction: row;

    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--green-view);
}

.imagenHeader {
    display: flex;
    justify-content: center;
}

/* Tamaño máximo de las imágenes de la cabecera */
.logo-img-header-SES > img {
    max-width: 210px;
    max-height: 170px;
}

.logo-img-header-Rincon > img {
    max-width: 170px;
    max-height: 170px;
}
/* ---------------------------------------- */


.contenidoHeaderTitulo {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-text);
}

.contenidoHeaderTitulo > h1 {
    text-shadow: 0 4px 4px 0 #00000040;
    font-size: 66px;
}

/* -------------------------------------------------------------------------- */
/*                  Contenido de las vistas de energía y agua                 */
/* -------------------------------------------------------------------------- */
.contenidoTituloVistas {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
    padding: 0;
}

/* El contenido de los títulos de energía y luz comparten casi todas las propiedades. */
/* La diferencia entre ellos está en el color de fondo */
.contenidoTituloEnergy, .contenidoTituloAgua  {
    display: flex;
    align-items: center;
    justify-content: start;

    padding: 1rem 2rem 1rem 2rem;
    width: 98%;

    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.contenidoTituloEnergy {
    background-color: var(--yellow-view);
}

.contenidoTituloAgua {
    background-color: var(--blue-view);
}
/* --------------------------------------------------------------------------------- */

.contenidoTituloVistas img {
    margin-right: 1rem;
}

.contenidoTituloVistas h2 {
    font-size: 40px;
    color: var(--color-text);
}

/* ---------------------------------------- */
/*          Contenido principal
/* ---------------------------------------- */
.contenidoMain {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2rem;

    width: 98%;
}

/* ------------------------------ Vista general ----------------------------- */
.contenidoVistaGeneral {
    width: 100%;
}

.contenidoVistaGeneral h3 {
    color: var(--color-text);
}

.contenidoVistaGeneral span {
    text-align: center;
    font-size: 35px;
}

.contenidoConsumoEnergy, .contenidoConsumoAgua {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    margin-bottom: 2rem;
    height: 10vh;
    width: 98%;

    border-radius: 10px;
    box-shadow: 0 10px 11px -1px rgba(101,102,140,0.5);
}

.contenidoGraficaConsumoEnergy, .contenidoGraficaConsumoAgua {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    padding-top: 3rem;
    height: 50vh;
    width: 98%;
    border-radius: 10px;
    box-shadow: 0 10px 11px -1px rgba(101,102,140,0.5);
}

/*Estableciendo el color de fondo en la sección de gráficas del consumo actual y semanal de energía*/
.contenidoGraficaConsumoEnergy, .contenidoConsumoEnergy {
    background-color: var(--yellow-content-chart);
    border: 1px var(--yellow-content-chart) solid;
}

/*Estableciendo el color de fondo en la sección de gráficas del consumo actual y semanal de agua*/
.contenidoGraficaConsumoAgua, .contenidoConsumoAgua {
    background-color: var(--blue-content-chart);
    border: 1px var(--blue-content-chart) solid;
}

/* -------------------------------------------------------------------------- */
/*                          Contenido final (footer)                          */
/* -------------------------------------------------------------------------- */
.contenidoFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-content: center;
    justify-content: center;

    /*De altura el mismo tamaño que hay en el header*/
    height: 136px;

    background-color: var(--green-view);
}

